.attachment {
  display: flex;
  flex-direction: column;

  padding-bottom: 40px;

  border: none;

  @media (min-width: $tablet-width) {
    border: 1px solid #e5e5e5;
  }
}

.attachment__title {
  @include indents;
  padding-top: 40px;
  margin-bottom: 35px;

  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #d22856;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.attachment__signature {
  @include indents;
  position: relative;
  display: flex;

  margin-bottom: 33px;

  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #283645;
}

.attachment__field {
  @include indents;
  width: 37px;
  height: 36px;
}

.attachment__signature::after {
  content: "";

  position: absolute;

  width: 37px;
  height: 36px;

  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.attachment__circle {
  position: absolute;
  z-index: 10;
  top: 12px;
  left: 13px;

  display: none;

  width: 15px;
  height: 15px;

  border-radius: 50%;
  background-color: #d22856;
}

.attachment__signature span {
  // padding-left: 63px;
}
