.competition__form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.competition__info {
  @include indents;
  padding-top: 56px;
  margin-bottom: 49px;

  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #283645;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 496px;
    margin: 0 auto;
    margin-bottom: 76px;
    padding-top: 98px;

    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 765px;
    margin-bottom: 70px;
    padding-top: 90px;
  }
}

.competition__deal {
  @include indents;
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.competition__signature {
  margin-left: 21px;

  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #d22856;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 16px;
  }
}

.competition__field {
  width: 280px;
  padding-top: 24px;
  padding-bottom: 21px;

  border: 2px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    &--surname {
      min-width: 516px;
    }

    &--name {
      min-width: 557px;
    }

    &--patronymic {
      min-width: 516px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 19px;

    &--surname {
      min-width: 336px;
    }

    &--name {
      min-width: 377px;
    }

    &--patronymic {
      min-width: 335px;
    }
  }
}

.competition__field:hover {
  border-color: #283645;
}

.competition__field:active {
  border-color: #d22856;
}

.competition__item {
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }

  &--last {
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      margin-bottom: 61px;
    }
  }
}

.competition__progress-color,
.competition__attachment--wrapper {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.competition__attachment--wrapper {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.competition__progress-color {
  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.competition__footnote {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #283645;
}

.competition__star {
  color: #d22856;
}

.competition__grid {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.competition__full-name {
  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    @include indents;
    width: 445px;
    margin-right: 53px;
  }
}

.competition__contacts {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.competition__impressions-wrapper {
  @media (min-width: $tablet-width) {
    order: 5;
  }
}
