.page-main {
  position: relative;
}

.page-main__title {
  @include indents;

  position: absolute;
  top: -140px;
  left: 25%;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    top: -270px;

    font-size: 50px;
    line-height: 53px;
  }

  @media (min-width: $desktop-width) {
    top: -230px;
    left: 35%;

    line-height: 59px;
  }

  &--form {
    top: -155px;
    left: 5%;

    @media (min-width: $tablet-width) {
      top: -300px;
    }

    @media (min-width: $desktop-width) {
      top: -220px;
      left: 18%;

      width: 750px;
    }
  }
}

.page-main__fill-title {
  background-color: #283645;
}
