.competition__info {
  @include indents;
  padding-top: 56px;
  margin-bottom: 49px;

  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #283645;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 496px;
    margin: 0 auto;
    margin-bottom: 76px;
    padding-top: 98px;

    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 765px;
    margin-bottom: 81px;
    padding-top: 101px;
  }
}

.competition__deal {
  @include indents;
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.competition__signature {
  margin-left: 21px;

  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #d22856;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 19px;
  }
}

input[type="text"]::placeholder {
  padding-left: 21px;

  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #283645;
}

.competition__field {
  width: 280px;
  padding-top: 24px;
  padding-bottom: 21px;

  border: 2px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    &--surname {
      min-width: 516px;
    }

    &--name {
      min-width: 557px;
    }

    &--patronymic {
      min-width: 516px;
    }
  }
}

.competition__item {
  &--last {
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      margin-bottom: 61px;
    }
  }
}
