.copyright__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #283645;

  @media (min-width: $desctop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  @include indents;
}
