.page-header {
  position: relative;
  background-color: #283645;
}

.page-header__grid {
  display: flex;
  flex-direction: column;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.page-header__logo-image {
  width: 75px;
  height: 22px;
  margin-top: 23px;
  margin-bottom: 16px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: 147px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.page-header__logo-link {
  @include indents;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    margin-right: 110px;
  }
}
