.page-header {
  position: relative;

  min-height: 461px;

  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 100% auto;
  }

  &--internal {
    min-height: 238px;
  }
}

.page-header--prime::before {
  content: "";

  position: absolute;
  top: 175px;

  width: 260px;
  height: 287px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 730px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &--internal {
      min-height: 440px;
    }
  }

  .page-header--prime::before {
    left: -20px;
    top: 180px;

    width: 665px;
    height: 550px;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 853px;

    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--internal {
      min-height: 395px;
    }
  }

  .page-header--prime::before {
    top: 203px;
    left: 140px;

    width: 890px;
    height: 650px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }
}

.page-header__grid {
  display: flex;
  flex-direction: column;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.page-header__logo-image {
  width: 75px;
  height: 22px;
  margin-top: 23px;
  margin-bottom: 16px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: 147px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.page-header__logo-link {
  @include indents;
  box-sizing: border-box;

  min-height: 66px;

  @media (min-width: $desktop-width) {
    margin-right: 172px;
    padding-left: 130px;
  }
}
