.photo-gallery {
  background-color: #ffffff;
}

.photo-gallery__list {
  @include indents;

  display: flex;
  flex-direction: column;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photo-gallery__item {
  @include indents;
  width: 280px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-right: 20px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 55px;
  }
}

.photo-gallery__item--publication-day {
  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desctop-width) {
    width: 940px;
  }
}

.photo-gallery__title {
  margin-top: 0;
  margin-bottom: 54px;
  padding-top: 54px;
}

.photo-gallery__panorama {
  @include indents;
  width: 140px;
  padding-top: 13px;
  padding-bottom: 11px;

  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;

  background-color: #d22856;
}

.photo-gallery__author {
  @include indents;
  display: inline-block;

  padding-top: 24px;

  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #283645;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
  }
}

.photo-gallery__dispatch-time {
  @include indents;

  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #283645;
}

.photo-gallery__gallery-comment {
  @include indents;

  margin-bottom: 18px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #283645;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.photo-gallery__link {
  @include indents;

  text-decoration: none;
}

.photo-gallery__like-heart {
  @include indents;
  display: flex;

  padding-bottom: 25px;

  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #d22856;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-bottom: 29px;
    justify-content: space-between;
  }
}

.photo-gallery__heart {
  margin-right: 19px;
  padding-top: 5px;

  fill: #d43560;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.photo-gallery__like {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}
