.photo-gallery {
  background-color: #ffffff;
}

.photo-gallery__list {
  @include indents;

  display: flex;
  flex-direction: column;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photo-gallery__item {
  @include indents;
  width: 280px;
  margin-bottom: 20px;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.photo-gallery__item--publication-day {
  @media (min-width: $tablet-width) {
    width: 620px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-right: 0;
  }
}

.photo-gallery__item--publication-day .photo-gallery__author {
  @media (min-width: $tablet-width) {
    order: 1;

    width: 40px;
    padding-top: 0;
  }
}

.photo-gallery__item--publication-day .photo-gallery__dispatch-time {
  @media (min-width: $tablet-width) {
    order: 2;
    width: 104px;
    margin-right: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 620px;
  }
}

.photo-gallery__item--publication-day .photo-gallery__like {
  @media (min-width: $tablet-width) {
    margin-right: 16px;
  }
}

.photo-gallery__item--publication-day .photo-gallery__like-heart {
  @media (min-width: $tablet-width) {
    order: 3;

    justify-content: flex-end;
    padding-bottom: 0;
  }
}

.photo-gallery__item--publication-day .photo-gallery__gallery-comment {
  @media (min-width: $tablet-width) {
    order: 5;
    width: 520px;
  }

  @media (min-width: $desktop-width) {
    width: 880px;
  }
}

.photo-gallery__item--modifier {
  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.photo-gallery__item--variation {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.photo-gallery__title {
  margin-top: 0;
  margin-bottom: 54px;
  padding-top: 54px;
}

.photo-gallery__panorama {
  @include indents;
  width: 140px;
  padding-top: 13px;
  padding-bottom: 11px;

  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;

  background-color: #d22856;
}

.photo-gallery__author {
  @include indents;
  display: inline-block;

  padding-top: 24px;

  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #283645;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
  }
}

.photo-gallery__dispatch-time {
  @include indents;

  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #283645;
}

.photo-gallery__gallery-comment {
  @include indents;

  margin-bottom: 18px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #283645;

  @media (min-width: $tablet-width) {
    min-height: 42px;
    margin-bottom: 23px;
  }
}

.photo-gallery__link {
  @include indents;

  text-decoration: none;
}

.photo-gallery__like-heart {
  @include indents;
  display: flex;

  padding-bottom: 25px;

  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #d22856;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-bottom: 29px;
    justify-content: space-between;
  }
}

.photo-gallery__heart {
  margin-right: 19px;
  padding-top: 5px;

  fill: #d43560;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.photo-gallery__like {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.photo-gallery__wrapper-comment {
  padding-left: 17px;

  @media (min-width: $tablet-width) {
    padding-left: 26px;
  }
}

.photo-gallery__item--publication-day .photo-gallery__wrapper-comment {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
