.progress {
  border: none;

  background-color: #f2f2f2;
}

.progress__title {
  width: 218px;
  margin-bottom: 37px;
  padding-top: 40px;
  margin-left: 20px;

  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
}

.progress__signature {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #283645;
}

.progress__field {
  width: 35px;
  height: 35px;
}
