@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans.woff") format("woff"),
    url("/fonts/opensans.woff2") format("woff2"),
    url("/fonts/opensansbold.woff") format("woff"),
    url("/fonts/opensansbold.woff2") format("woff2"),
    url("/fonts/opensanslight.woff") format("woff"),
    url("/fonts/opensanslight.woff") format("woff2");
}

body {
  @include indents;
  min-width: 320px;

  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-style: normal;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  overflow: hidden;
}

.wrapper {
  max-width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    max-width: 620px;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
