.social-list {
  @include indents;
  display: flex;

  margin-bottom: 39px;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 40px;
  }

  @media (min-width: $desctop-width) {
    padding-top: 102px;
  }
}

.social-list__item {
  @include indents;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }
}

.social-list__link {
  @include indents;
  position: relative;
  display: block;
  width: 46px;
  height: 46px;

  border: 3px solid #e9ebec;
  border-radius: 50%;
}

.social-list__picture {
  position: absolute;
  top: 14px;
  left: 16px;

  fill: #d22856;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #283645;
}

.copyright__logo-htmlacademy {
  fill: #d22856;
}
