.tariffs {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
    padding-bottom: 95px;
  }
}

.tariffs__list {
  @include indents;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.tariffs__item {
  @include indents;
}

.tariffs__table-header {
  @media (min-width: $tablet-width) {
    width: 155px;
  }

  background-color: #283645;
}

.tariffs__empty {
  background-color: #f2f2f2;
}

.tariffs__denotation {
  @include indents;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-top: 20px;

    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;

    font-size: 18px;
  }
}

.tariffs__cost {
  @include indents;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-bottom: 13px;

    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 19px;

    font-size: 24px;
  }
}

.tariffs__field {
  @include indents;

  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  color: #283645;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 155px;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 15px;

    text-transform: inherit;
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
    padding-bottom: 19px;
    padding-left: 22px;

    font-size: 18px;
  }
}

.tariffs__value {
  background-color: #ffffff;
}
